<h1>Plan Overview</h1>

{{#if posts}}
<ul>
    {{#each posts}}
    <li>
        <h2>
            <a href="{{permalink}}">
                {{this.post_title}}
            </a>
        </h2>
    </li>
    {{/each}}
</ul>
{{/if}}
